nav{
    background-color: peru;
    height:23px;
}

nav>a{
    margin:10px;
    padding:10px;
}

.container{
    display:grid;
    
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: "costume costume costume costume facebook"
                        "costume costume costume costume twitter"
                        "costume costume costume costume mask"
                        "birthday birthday chuckles clowngrandma LazyTown"
                        "Blues superhero superhero candy history"
                        "Blues santa barbie barbie freeshipping"
                        "props santa halloween halloween2 spooky "
                        "blackmask ball ball . address";

    gap: 10px;
}           

img {
    width: 100%;
    height: 100%;
}

.costume{
    grid-area: costume;
}

.Facebook{
    grid-area: facebook;
}

.twitter{
    grid-area: twitter;
}

.Mask{
    grid-area:mask;
}

.birthday{
    grid-area:birthday;
}

.chuckles{
    grid-area:chuckles;
    
}

.clowngrandma{
    grid-area:clowngrandma;
}

.lazyTown{
    grid-area:LazyTown;
}

.blues{
    grid-area:Blues;
}

.superhero{
    grid-area:superhero;
}

.candy{
    grid-area:candy;
}
.history{
    grid-area:history;
}

.santa{
    grid-area:santa;
}

.barbie{
    grid-area:barbie;
}

.freeshipping{
    grid-area:freeshipping;
}

.halloween{
    grid-area:halloween;
}

.halloween2{
    grid-area:halloween2;
}

.spooky{
    grid-area:spooky;
}

.props {
    grid-area: props;
}

.blackmask{
    grid-area:blackmask;
}

.ball{
    grid-area:ball;
}

.address{
    grid-area:address;
}