nav{
    background-color: peru;
    height:23px;
}

nav>a{
    margin:10px;
    padding:10px;
}

.container{
    display:grid;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "costume costume costume costume facebook"
                        "costume costume costume costume twitter"
                        "costume costume costume costume mask"
                        "birthday birthday chuckles clowngrandma LazyTown"
                        "blues superhero superhero candy history"

                        
}                        

.costume.png{
    grid-area: costume;
}

.Facebook.png{
    grid-area: facebook;
}

.twitter.png{
    grid-area: twitter;
}

.birthday.png{
    grid-area:birthday;
}

.chuckles.png{
    grid-area:chuckles;
    grid-area: c;
}

.clowngrandma.png{
    grid-area:clowngrandma;
}

.LazyTown.png{
    grid-area:LazyTown;
}

.birthday.png{
    
}
